<div class="jumbotron acm-purple">
  <h2><span class="text-white">ACM-W</span></h2>
  <p class="text-white">
    Supporting, celebrating and advocating for Women in Computing
  </p>
</div>

<div class="row">
  <div class="col-md-8">
    <h1>Purpose</h1>
    <p>
      "ACM-W supports, celebrates, and advocates internationally for the full engagement of women in all aspects of the computing field,
      providing a wide range of programs and services to ACM members and working in the larger community to advance the contributions of technical women."
      <cite class="text-acm-purple">-ACM-W National</cite>
      <br />
    </p>
    <h2>What we do</h2>
    <p>
      Throughout the year we host several events that are inline with our goal of supporitng Women in Computing.
      In 2016, we brought Tarah Wheeler author of <a href="https://www.amazon.com/Women-Tech-Practical-Inspiring-Stories/dp/1632170663/ref=sr_1_1?ie=UTF8&qid=1471035711&sr=8-1&keywords=women+in+tech">Women in Tech: The Book</a>
      to Pullman to talk about her experiences writing the book.
    </p>
    <p>
      We have also sent our students to the Grace Hopper Conference in Houston, Texas where they network and hear from other women in technology.
    </p>
    <p>
      If you would like to support us or learn more about us contact <a href="mailto:rachel.forbes@wsu.edu">Rachel Forbes</a>.
    </p>

  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="text-white">Register for the ACM-W Mentor Program!</h4>
      </div>
      <div class="panel-body">
        <p>
          In 2015, we introduced the ACM-W mentoring program for women studying computer science.
          The mentoring program gets our students more connected within the department and helps them throughout their early years in the major.
        </p>
        <p>
          If you are interested in being a mentor or a mentee please contact <a href="mailto:rachel.forbes@wsu.edu">Rachel Forbes</a>.
        </p>
      </div>
    </div>

  </div>
</div>

