<div class="jumbotron acm-purple">
  <h2><span class="text-white">ACM-W</span></h2>
  <p class="text-white">
    Supporting, celebrating, and advocating for Women in Computing
  </p>
</div>

<div class="row">
  <div class="col-md-8">
    <h1>Purpose</h1>
    <p>
      "ACM-W supports, celebrates, and advocates internationally for the full engagement of women in all aspects of the computing field,
      providing a wide range of programs and services to ACM members and working in the larger community to advance the contributions of technical women."
      <cite class="text-acm-purple">-ACM-W National</cite>
      <br />
    </p>
    <h2>What we do</h2>
    <h3>Events</h3>
    <p>
      Throughout the year we host several events that are inline with our goal of supporting Women in Computing.
      Recently, in spring 2016, we brought Tarah Wheeler, author of <a href="https://www.amazon.com/Women-Tech-Practical-Inspiring-Stories/dp/1632170663/ref=sr_1_1?ie=UTF8&qid=1471035711&sr=8-1&keywords=women+in+tech">Women in Tech: The Book</a>
      , to Pullman to talk about her experiences in her life and industry that inspired her to write Women in Tech: The Book as well as some of the key points that the she and her co-authors make throughout.
    </p>
    <p>Throughout the year we also do educational tech talks to help students prepare for interviews, networking events with industry professionals, as well as discussions about how we can recruit and retain more women in computer science at WSU.</p>
    <p>Lastly, we host fun social events for women (and our awesome male allies) to meet, support, and befriend each other. These social events are meant to encourage collaboration and support of women in computer science so that women will feel more welcome and comfortable in this highly male dominated field.</p>
    <h3>Conferences</h3>
    <p>
      One of the main conferences that the ACM-W is involved with is the <a href="http://ghc.anitaborg.org/">Grace Hopper Celebration (GHC)</a>. With the help of WSU, VCEA, and EECS, the ACM-W sends about 3-5 girls to GHC. The purpose of this trip is to expose young women in computer science at WSU to the amazing community of women in computer science and engineering. By exposing these young women to this community, they will have more of a connection to the computer science and engineering community as a whole and feel more welcome in the field of computer science and engineering, which is predominantly made up of men. <br> <br>
      We have had a lot of great feedback and stories of experiences from young women in computer science at WSU who have gone to GHC, which has prompted us to continue to obtain funding and try to send as many young women to GHC as possible. <br><br>
      GHC 2016: We are no longer accepting applications for GHC 2016, please check back next spring/summer regarding the application process for GHC 2017. Please be aware that GHC offers their own scholarship program, so please be sure to apply to that when it is available (GHC Scholarships are no longer being accepted for 2016).
    </p>
    <p>
      If you would like to support us or learn more about us contact <a href="mailto:rachel.forbes@wsu.edu">Rachel Forbes</a>.
    </p>

  </div>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class="text-white">Register for the ACM-W Mentor Program!</h4>
      </div>
      <div class="panel-body">
        <p>
          In 2015, we introduced the ACM-W mentoring program for women studying computer science.
          The mentoring program pairs a student in her early years at WSU in computer science to a seasoned computer science student. Our mentoring program provides:
              <ul>
                <li>A seasoned female in computer science to connect with</li>
                <li>Regular meetings and events to connect with other women in computer science and engineering</li>
                <li>Opportunities to be involved in various VCEA/EECS events and trips</li>
              </ul>
        </p>
        <p>
          If you are interested in being a mentor or a mentee please contact <a href="mailto:rachel.forbes@wsu.edu">Rachel Forbes</a>.
        </p>
      </div>
    </div>

  </div>
</div>

