<div class="jumbotron" style="background-color: #0085ca">
  <h2><span class="text-white">ACM-W</span></h2>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>Mentoring Program</h2>
    <p class="text-secondary">
    </p>
    <p>
      In 2015, we introduced the ACM-W mentoring program for women studying computer science.
      The mentoring program gets our students more connected within the department and helps them throughout their early years in the major.
      If you are interested in being a mentor or a mentee please contact <a href="mailto:heidi.lyons@wsu.edu">Heidi Lyons</a>.
    </p>
  </div>
  <div class="col-md-4">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Workshops</h2>
    <p class="text-secondary">
      Schedule of workshops for the 2016-2017 school year.
    </p>
    <div ng-repeat="workshop in workshops">
      <h4>{{workshop.name}} | {{workshop.date}} {{workshop.time}} | {{workshop.location}}</h4>
      <p>
        {{workshop.description}}
      </p>
    </div>
  </div>
</div>
