<div class="jumbotron acm-green">
  <h2><span class="text-white">Software as a Service</span></h2>
  <p class="text-white">
    Industry based devlopment group for students.
  </p>
</div>

<div class="row">
  <div class="col-md-8">
    <h1>Purpose</h1>
    <p>
      To give students hands-on experience designing, developing, and releasing software using the principles practiced by major enterprises.
      <!--<br />-->
    </p>
    <h2>What We Do</h2>
    <h4>Support personal and project development</h4>
    <p>
      The Software as a Service Group is here to provide guidance and resources to self-motivated students who want to further their education outside of the classroom. This group is about connecting like-minded students that want to work together to make something great. If you've ever had an exciting idea for a project but didn't have the time or resources, come to one of our meetings.
    </p>
    <h4>Connect with corporate partners</h4>
    <p>
      
    </p>

  </div>
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="text-white">Come to Our First Meeting!</h4>
      </div>
      <div class="panel-body">
        <p>
          More information to come.
        </p>
        <p>
          If you are interested in participating in SaaS please contact <a href="mailto:niko.tokuno@gmail.com">Niko Tokuno</a>.
        </p>
      </div>
    </div>

  </div>
</div>

