<div class="row">
  <div class="col-md-8">
    <h2>Our Committees</h2>
    <p class="text-secondary">We host several different clubs that help further our mission and provide resources to the local community.</p>
    <h4>ACM-W Chapter</h4>
    <p>
      The ACM-W is a special interest group for Women in Technology.
      The ACM-W @ WSU supports women who are new to computer science by offering a mentor service and hosting events throughout the year.
    </p>
    <p>Visit the <a ui-sref="acmw">ACM-W</a>.</p>

    <h4>Computer Security Group</h4>
    <p>
      The Computer Security Group within Washington State University’s Voiland College of Engineering and Architecture is the university’s only Registered Student Organization (RSO) dedicated to computer and network security.
    </p>
    <p>Visit the <a ui-sref="csg">Computer Security Group</a>.</p>
    <h4>Crimson Code Hackathon</h4>
    <p>
      The largest annual <a href="http://hackathon.eecs.wsu.edu" target="_blank">hackthon</a> in Eastern Washington, Crimson Code is going into its 5th year.
      Students show up to create amazing projects together and demo them to sponsors, faculty and their fellow students.
    </p>
    <p>Visit the <a href="http://hackathon.eecs.wsu.edu" target="_blank">Crimson Code Hackathon</a>.</p>

  </div>
  <div class="col-md-4">
    <img src="images/programmers.jpg" class="img-thumbnail" />
    <img src="images/table_programmers.jpg" class="img-thumbnail" />

  </div>
</div>
