<div class="jumbotron" style="background-color: #0085ca">
  <h2><span class="text-white">Association of Computing Machinery @ WSU</span></h2>
  <p class="lead"><span class="text-white">Advancing Computing as a Science & Profession</span></p>
</div>

<div class="row">
  <div class="col-md-7">
    <h2>Our Mission</h2>
    <p class="lead text-secondary">
      Prepare graduates for an exciting and challenging career in technology.
    </p>
    <p>
      We are a group of students at Washington State University working hard to make sure that our students are ready for diverse challenges.
      Some of the ways that we prepare students are by: offering extra student-led tutoring sessions, hosting technology workshops, supporting smaller clubs and hosing an annual <a href="http://hackathon.eecs.wsu.edu" target="_blank">hackathon</a>.
    </p>
    <img src="images/table_programmers.jpg" class="img img-responsive img-thumbnail"/>
  </div>
  <div class="col-md-5">
    <h3>Tutoring and Office Hours</h3>
    <p>Check out the <a href="https://drive.google.com/open?id=1bWoOa0AXFEVeqKwWo8ap2aUjfrJtxlqT4YszLw1nGzE" target="_blank">tutoring schedule</a>.</p>
    <hr />
    <h3>Join us on Facebook</h3>
    <table class="table table-striped">
      <tr>
        <td><a href="https://www.facebook.com/groups/WSU.ACM.Chapter/" target="_blank">ACM @ WSU</a></td>
      </tr>
      <tr>
        <td><a href="https://www.facebook.com/groups/1592972560984827/" target="_blank">ACM-W @ WSU</a></td>
      </tr>
      <tr>
        <td><a href="https://www.facebook.com/groups/csgwsu/" target="_blank">Computer Security Group</a></td>
      </tr>
      <tr>
        <td><a href="https://www.facebook.com/WSUHackathon/?fref=ts" target="_blank">Crimson Code Hackathon</a></td>
      </tr>
      <tr>
        <td><a href="https://www.facebook.com/groups/290955514317100/" target="_blank">WSU Computer Science</a></td>
      </tr>
    </table>
  </div>
</div>
