

<div class="row">
  <div class="col-md-12">
    <h2>Executive Leadership</h2>
    <h4>Tyler Walker, <span class="text-primary">Executive Chair</span></h4>
    <h4>Cammi Smith, <span class="text-primary">Vice-Chair</span></h4>
    <h4>Rachel Forbes, <span class="text-primary">Secretary</span></h4>
    <h4>Megan McPherson, <span class="text-primary">Treasurer</span></h4>
    <h4>Dr. Larry Holder, <span class="text-primary">Faculty Advisor</span></h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>ACM-W</h3>
    <h4>Rachel Forbes, <span class="text-secondary">Co-Chair</span></h4>
    <h4>Heidi Lyons, <span class="text-secondary">Co-Chair</span></h4>

    <h3>Computer Security Group</h3>
    <h4>Noah Gelienfeldt, <span class="text-secondary">Chair</span></h4>
    <h4>Korina Houghtaling, <span class="text-secondary">Vice-Chair</span></h4>
    <h4>Keon Sadatian, <span class="text-secondary">Treasurer</span></h4>
    <h4>Josh Becker, <span class="text-secondary">Information Manager</span></h4>
    <h4>Dr. Adam Hahn, <span class="text-secondary">Faculty Advisor</span></h4>

    <h3>Crimson Code Hackathon</h3>
    <h4>Tyler Walker, <span class="text-secondary">Chair</span></h4>
    <h4>Cammi Smith, <span class="text-secondary">Sponsorship Coordinator</span></h4>
    <h4>Rachel Forbes, <span class="text-secondary">Logistics Coordinator</span></h4>
    <h4>Megan McPherson, <span class="text-secondary">Operations Coordinator</span></h4>
  </div>
</div>
