<div class="row">
  <div class="col-md-4">
    <h2>Executive Leadership</h2>
    <h4>Tyler Walker, <span class="text-primary">Executive Chair</span></h4>
    <h4>Cammi Smith, <span class="text-primary">Vice-Chair</span></h4>
    <h4>Rachel Forbes, <span class="text-primary">Secretary</span></h4>
    <h4>Megan McPherson, <span class="text-primary">Treasurer</span></h4>
    <h4>Dr. Larry Holder, <span class="text-primary">Faculty Advisor</span></h4>
  </div>
  <div class="col-md-8">
    <h2>Join our Team!</h2>
    <p class="text-default">
      If you're looking for leadership opportunities or want to start your own club let us know!
    </p>
    <h4 class="text-acm-purple">Why become a leader?</h4>
    <ul>
      <li class="text-default">It looks great on resumes and job applications.</li>
      <li class="text-default">Build your professional network and work with faculty, recruiters and engineers.</li>
      <li class="text-default">Learn more about the topics you're passionate about.</li>
    </ul>
    <p class="text-default">If you are interested in joining us, feel free to reach out to <a href="mailto:tyler.p.walker@wsu.edu">Tyler Walker</a>.</p>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12">
    <h2>Committees</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 class="text-acm-green">Crimson Code Hackathon</h3>
    <p class="caption">Organizes and executes annual hackathon.</p>
    <h4>Tyler Walker, <span class="text-secondary">Chair</span></h4>
    <h4>Cammi Smith, <span class="text-secondary">Sponsorship Coordinator</span></h4>
    <h4>Rachel Forbes, <span class="text-secondary">Logistics Coordinator</span></h4>
    <h4>Megan McPherson, <span class="text-secondary">Operations Coordinator</span></h4>
    <h4>Dr. Larry Holder, <span class="text-secondary">Faculty Advisor</span></h4>
    <p>Please contact <a href="mailto:tyler.p.walker@wsu.edu">Tyler</a> for more information.</p>
  </div>
  <div class="col-md-4">
    <h3 class="text-acm-green">Computer Security Group</h3>
    <p class="caption">Teaches security practices and methodology.</p>
    <h4>Noah Gelienfeldt, <span class="text-secondary">Chair</span></h4>
    <h4>Korina Houghtaling, <span class="text-secondary">Vice-Chair</span></h4>
    <h4>Keon Sadatian, <span class="text-secondary">Treasurer</span></h4>
    <h4>Josh Becker, <span class="text-secondary">Information Manager</span></h4>
    <h4>Dr. Adam Hahn, <span class="text-secondary">Faculty Advisor</span></h4>
    <p>Please contact <a href="mailto:noah.geilenfeldt@wsu.edu">Noah</a> for more information.</p>

  </div>
  <div class="col-md-4">
    <h3 class="text-acm-green">ACM-W</h3>
    <p class="caption">Interest group for Women in Technology.</p>
    <h4>Rachel Forbes, <span class="text-secondary">Co-Chair</span></h4>
    <h4>Heidi Lyons, <span class="text-secondary">Co-Chair</span></h4>
    <h4>Dr. Sakire Arslan Ay, <span class="text-secondary">Faculty Advisor</span></h4>
    <p>Please contact <a href="mailto:rachel.forbes@wsu.edu">Rachel</a> for more information.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 class="text-acm-green">Software as a Service </h3>
    <p class="caption">Industry based devlopment group for students.</p>
    <h4>Niko Tokuno, <span class="text-secondary">Chair</span></h4>
    <h4>Paul O'Neill, <span class="text-secondary">Co-Chair</span></h4>
    <h4>Timmy Rice, <span class="text-secondary">Co-Chair</span></h4>
    <p>Please contact <a href="mailto:niko.tokuno@wsu.edu">Niko</a> for more information.</p>
  </div>
  <div class="col-md-4">
    <h3 class="text-acm-green">Tutoring </h3>
    <p class="caption">Tutoring for introductory classes</p>
    <h4>Micah Jenkins, <span class="text-secondary">Tutoring Coordinator</span></h4>
    <p>Please contact <a href="mailto:micah.jenkins@wsu.edu">Micah</a> for more information.</p>
  </div>
  <div class="col-md-4">
  </div>
</div>
